*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button{
    padding: .1rem;
    color:black;
    background-color:bisque;
}
.button:hover{
    background-color: black;
    color: white;
}